<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    script
      window.onload=function(){}
  body
    .class1.class2#1
      ul
        li =attr
        li =a+b
        li text
        each item in arr
          li = item
          if a < b
            li =b

